@use "../../sass/variables" as *;

    .header{
        background-color: $header-background;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        align-items: center
    }
        
        .header__icon{
            display: flex;
            justify-content: space-between;
            margin: 2rem;
            
                &__perfil{
                    cursor: pointer;
                    }
            }
        
    
        