@use "../../sass/variables" as *;

    .nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: $header-background;
        color: white;
        }

            button{
                background-color: $header-background;
                color: white;
                width: 20rem;
                height: 3rem;
                border: none;

                &:hover{
                    background-color: #525151;

                    }
                    
                }

                    